@font-face {
    font-family: "Inter-Regular";
    src: url("/src/assets/fonts/Inter-Regular.ttf") format("truetype");
  }
  html {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-family: "Inter-Regular";
    font-style: normal;
    font-weight: 600;
    background-color: #fff;
    overflow-x: hidden;
    width: 100vw;
  }

  h1 {
    font-size: 62px;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {

  }

  a{
    text-decoration: none;
  }
  @media only screen and (max-width: 1000px) {
  }
  @media only screen and (max-width: 600px) {
  }
